.stat-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height:150px;
}

.stat-title {
  padding-top: 10px;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.stat-value {
  font-size: 3rem;
  color: #222;
  font-weight: bold;
}
